Repository krbz999/babonus, pull requests merged in 2023-07, with the labels that each got.

#243 Proficiency filter and improvements to custom script filter
  README.md
  lang/en.json
  scripts/applications/babonus.mjs
  scripts/applications/dataModel.mjs
  scripts/constants.mjs
  scripts/filters.mjs
  scripts/helpers/helpers.mjs
Labels: enhancement, filters

#245 Restructure hook setup
  module.json
  scripts/helpers/headerButtons.mjs
  scripts/helpers/helpers.mjs
  scripts/helpers/rollHooks.mjs
  scripts/hooks.mjs
  scripts/public_api.mjs
  setup.mjs
Labels: bug, enhancement

#240 Translations update from Foundry Hub - Weblate
  lang/fr.json
Labels: localization

#248 [#247] Fix distance checking api function
  scripts/public_api.mjs
Labels: bug, api

#249 Allow an aura to be restrained by vision and walls
  README.md
  lang/en.json
  scripts/applications/bonusCollector.mjs
  scripts/applications/dataModel.mjs
  scripts/filters.mjs
  templates/subapplications/auraConfigurationApp.hbs
Labels: enhancement, filters

#253 [#251] More intelligent aura shapes
  scripts/applications/bonusCollector.mjs
Labels: enhancement

#256 11.1.0 refactor
  README.md
  lang/en.json
  scripts/applications/auraConfigurationApp.mjs
  scripts/applications/babonus.mjs
  scripts/applications/bonusCollector.mjs
  scripts/applications/consumptionApp.mjs
  scripts/applications/dataFields.mjs
  scripts/applications/dataModel.mjs
  scripts/applications/rollConfigApp.mjs
  scripts/constants.mjs
  scripts/data/AuraModel.mjs
  scripts/data/ConsumptionModel.mjs
  scripts/data/FilterMixin.mjs
  scripts/data/fields/ArbitraryComparisonField.mjs
  scripts/data/fields/CheckboxFields.mjs
  scripts/data/fields/CustomScriptsField.mjs
  scripts/data/fields/HealthPercentagesField.mjs
  scripts/data/fields/ItemRequirementsField.mjs
  scripts/data/fields/RemainingSpellSlotsField.mjs
  scripts/data/fields/SemicolonFields.mjs
  scripts/data/fields/SpellComponentsField.mjs
  scripts/data/fields/TokenSizesField.mjs
  scripts/filters.mjs
  scripts/helpers/helpers.mjs
  scripts/helpers/rollHooks.mjs
  scripts/public_api.mjs
  templates/babonus.hbs
  templates/builder_components/checkboxes.hbs
  templates/builder_components/checkboxes_select.hbs
  templates/builder_components/range_select.hbs
  templates/builder_components/select_number_checkbox.hbs
  templates/builder_components/text_select_text.hbs
  templates/subapplications/auraConfigurationApp.hbs
  templates/subapplications/consumptionApp.hbs
  templates/subapplications/optionalBonuses.hbs
Labels: documentation, enhancement, filters, api

#259 [#258] Currency consumption type
  README.md
  lang/en.json
  scripts/applications/consumptionApp.mjs
  scripts/applications/rollConfigApp.mjs
  scripts/data/ConsumptionModel.mjs
  templates/subapplications/consumptionApp.hbs
Labels: enhancement

#262 [#254] Remove all traces of the 'itemRequirements' filter
  README.md
  lang/en.json
  lang/fr.json
  scripts/applications/babonus.mjs
  scripts/applications/bonusCollector.mjs
  scripts/data/BabonusModel.mjs
  scripts/data/_module.mjs
  scripts/data/fields/ItemRequirementsField.mjs
  scripts/filters.mjs
  templates/builder_components/label_checkbox_label_checkbox.hbs
Labels: documentation, breaking, filters

#265 11.1.0
  .github/workflows/main.yml
  README.md
  lang/en.json
  lang/fr.json
  module.json
  scripts/api.mjs
  scripts/applications/appliedBonusesDialog.mjs
  scripts/applications/auraConfigurationApp.mjs
  scripts/applications/babonus.mjs
  scripts/applications/bonusCollector.mjs
  scripts/applications/consumptionApp.mjs
  scripts/applications/dataFields.mjs
  scripts/applications/dataModel.mjs
  scripts/applications/keysDialog.mjs
  scripts/applications/rollConfigApp.mjs
  scripts/constants.mjs
  scripts/data/AuraModel.mjs
  scripts/data/BabonusModel.mjs
  scripts/data/ConsumptionModel.mjs
  scripts/data/FilterMixin.mjs
  scripts/data/_module.mjs
  scripts/data/fields/ArbitraryComparisonField.mjs
  scripts/data/fields/CheckboxFields.mjs
  scripts/data/fields/CustomScriptsField.mjs
  scripts/data/fields/HealthPercentagesField.mjs
  scripts/data/fields/RemainingSpellSlotsField.mjs
  scripts/data/fields/SemicolonFields.mjs
  scripts/data/fields/SpellComponentsField.mjs
  scripts/data/fields/TokenSizesField.mjs
  scripts/filters.mjs
  scripts/helpers/headerButtons.mjs
  scripts/helpers/helpers.mjs
  scripts/helpers/rollHooks.mjs
  scripts/hooks.mjs
  setup.mjs
  templates/babonus.hbs
  templates/builder_components/checkboxes.hbs
  templates/builder_components/checkboxes_select.hbs
  templates/builder_components/label_checkbox_label_checkbox.hbs
  templates/builder_components/range_select.hbs
  templates/builder_components/select_number_checkbox.hbs
  templates/builder_components/text_select_text.hbs
  templates/subapplications/auraConfigurationApp.hbs
  templates/subapplications/consumptionApp.hbs
  templates/subapplications/optionalBonuses.hbs
Labels: bug, documentation, enhancement, breaking, localization, filters, api
